<h1>Your Order Status</h1>
<h3>Deliciousness is heading your way</h3>
<dl class="dl-horizontal">
  <dt>
    Submitted:
  </dt>
  <dd>
    <%= time_ago_in_words(@order.created_at) %> ago
  </dd>
  <dt>
    Status:
  </dt>
  <dd class="client-order">

  </dd>
  <dt>
    Estimated delivery time:
  </dt>
  <dd class="client-order-time">

  </dd>
</dl>
<div class="well">
  <p>You Ordered:</p>
  <ul class= "list-unstyled">
    <ul class="list-unstyled">
      <% @order.grouped_line_items.each do |product, line_items| %>
        <li>
          <%= line_items.size %> <%= product.name %>
        </li>
      <% end %>
    </ul>
  </ul>
</div>
