<div id="cart">
  <h5>Your current cart:</h5>
  <ul class="list-unstyled">
    <% current_cart.grouped_line_items.each do |product, line_items| %>
      <li>
        <%= line_items.size %> <%= product.name %>
      </li>
    <% end %>
  </ul>
  <p>
    <%= current_cart.line_items.count %> items
  </p>
  <p>
    <%= number_to_currency current_cart.total %>
  </p>
</div>
