<div id="cart">
  <h5>Your current cart:</h5>

  <% current_cart.grouped_line_items.each do |product, line_items| %>
    <%= product.name %>
  <% end %>

  <%= current_cart.line_items.count %>,
  <%= number_to_currency current_cart.total %>
</div>
