// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sidebar {
 padding: 10px;
 border-radius: 5px;
 background-color: white;
 border-style: solid;
 border-width: medium;
}

#sidebar p:last-child {
 text-align: center;
}

#remove {
 border-color: white;
}
