// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.general_formatting {
  font-size: 16px;
  margin-top: 25px;
}

div.row_headers {
  font-size: 18px;
  font-weight: bold;
}
