// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row p{
  padding-top: 10px;
  margin-bottom: 0px;
}

.col-md-12 {
  display:block;
  margin:auto;
}


.col-md-12 img {
  display:block;
  margin:auto;
  border-radius:50%;
  overflow:hidden;
}

.col-md-12 span {
  display:block;
  margin:auto;
  font-size: 25px;
}

.col-md-12 p {
  display:block;
  margin:auto;
  font-size: 20px;
  text-align: center;
}

div .add_padding_to_top {
  padding-top: 100px;
}

#admin-btn {
  text-align: center;
}
