// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo {
  padding-top: 5px;
  display: inline-block;
}
.welcome {
  padding-left: 100px;
  padding-right: 100px;
}
.featured {
  border-radius: 100px;
}
